body {
  margin: 0;
  background-color: antiquewhite;
  background-image: url(https://www.euroscoop.be/content/genk/content-blocks/2019/02/BE_Static_1920x977_AlitaBA_ss_Euroscoop_Takeover_NL_NOW.jpg);
  background-size: cover;
  background-attachment: fixed;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: steelblue;
  font-family: 'Open Sans', sans-serif;
}

header li {
  float: left;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header li a:hover {
  background-color: rgb(2,112,192);
}

.panel0 {
  background-color: rgba(48, 132, 205, 0.6);
  display: grid;
  justify-content: space-around;
  padding: 10px;
}
.panel0 img {
  border: 3px solid steelblue;
}

.panel1 {
  background-color: antiquewhite;
  padding: 10px;
  display: grid;
  justify-content: space-around;
  grid-template-areas: "img img img img img";
}
.panel1 img {
  border: 3px solid steelblue;
  height: 250px;
}

.panel2 {
  background-color: antiquewhite;
  padding: 10px;
  display: grid;
  justify-content: space-around;
  grid-template-areas: "img img img img img";
}
.panel2 img {
  border: 3px solid steelblue;
  height: 250px;
}

.panel3 {
  background-color: rgba(48, 132, 205, 0.6);
  display: grid;
  justify-content: space-around;
  padding: 10px;
}
.panel3 img {
  border: 3px solid steelblue;
}

.panel4 {
  background-color: antiquewhite;
  padding: 10px;
  display: grid;
  justify-content: space-around;
  grid-template-areas: "img img img img img";
}
.panel4 img {
  border: 3px solid steelblue;
  height: 250px;
}

.panel5 {
  background-color: antiquewhite;
  padding: 10px;
  display: grid;
  justify-content: space-around;
  grid-template-areas: "img img img img img";
}
.panel5 img {
  border: 3px solid steelblue;
  height: 250px;
}

footer {
  display: grid;
  grid-template-areas: "end end2 end3";
  font-family: "Raleway", sans-serif;
}

.end {
  background-color: steelblue;
  padding: 10px;
  display: grid;
  justify-content: right;
}
.end ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.end ul a {
  text-decoration: none;
  color: white;
}
.end ul a:hover {
  color: indianred;
}
.end ul a li {
  padding: 2px;
}

.end2 {
  background-color: steelblue;
  padding: 10px;
  display: grid;
  justify-content: center;
}
.end2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.end2 ul a {
  text-decoration: none;
  color: white;
}
.end2 ul a:hover {
  color: indianred;
}
.end2 ul a li {
  padding: 2px;
}

.end3 {
  background-color: steelblue;
  padding: 10px;
  display: grid;
  justify-content: left;
}
.end3 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.end3 ul a {
  text-decoration: none;
  color: white;
}
.end3 ul a:hover {
  color: indianred;
}
.end3 ul a li {
  padding: 2px;
}

.title {
  font-weight: bold;
  color: white;
  font-size: 110%;
}
.login {
  float: right;
}
.reg {
  float: right;
}
/*# sourceMappingURL=style.css.map */
